#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    background: #f7786b;
    border-left: 1px solid #999;
    float: left;
    margin: 0;
    padding: 0;
}

#navigation a {
    color: #92a8d1;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
}

#navigation a:hover {
    color: #034f84;
}

#navigation #currentpage a {
    background: #f7cac9;
    color: #034f84;
}

#site-title {
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    color: #034f84;
    background-color: #f7cac9;
    text-decoration: none;
}

#logo {
    float: right;
}

#footer {
    text-align: center;
    position: absolute;
    width: 95%;
    bottom: 0;
}

.question {
    color: #034f84;
}

.answer {
    color: #f7786b;
    margin-bottom: 10px;
}

.no-bullets {
    list-style: none;
}

body {
    min-height: 95%;
}

h1, li, p {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

