#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#COLOR {
    COLOR: #D5F4E6;
    color: #80ced6;
    color: #fefbd8;
    color: #618685;
    color: #f7ddd4;
    color: #448d76;
    color: #14b884;
    color: #034f84;
    color: #f7caC9;
    color: #f7786b;
}
#navigation li {
    background: #fdff9e;
    border-left: 1px solid #999;
    float: left;
    margin: 0;
    padding: 0;
}

#navigation a {
    color: #ffbe75;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
}

#navigation a:hover {
    color: #7c1111;
}
#test {
    background-color: #ffbe75;
}

#navigation #currentpage a {
    background: #fefbd8;
    color: #7c1111;
}

#site-title {
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    color: #7c1111;
    background-color: #fefbd8;
    max-width: 100%;
}

#site-title a {
     color: #7c1111;
 }
#title-link:visited {
    color: #7c1111;
}

#title-link {
    text-decoration: none;
}

#title-bar, #navigation{
    max-width: 700px;
    margin-top: 0;
}

#logo {
    float: right;
}

#goals > li {
    text-align: left;
    max-width: 300px;
}

#footer {
    text-align: center;
    position: absolute;
    width: 95%;
    max-width: 100%;
    bottom: 0;
}

#spacer {
    visibility: hidden;
}

#login-div {
    margin: auto;
}

.bottom-img {
    margin: 20px auto 0 auto;
    display: block;
}

.img-right {
    height: 100px;
    float: right;
    margin: 0 0 0 10px;
}

.img-left {
    height: 100px;
    float: left;
    margin: 0 10px 0 0;
}

.question {
    color: #1500ff;
}

.answer {
    color: #028200;
    margin-bottom: 10px;
}

.no-bullets {
    list-style: none;
}

body {
    min-height: 95%;
}

h1, form {
    text-align: center;
    margin: auto;
}

p, div {
    max-width: 500px;
    text-align: left;
    line-height: 18px;
    margin: 20px auto 0 auto;
}

table, td {
    border: black solid 1px;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

